<% include partials/header%>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1> Your Movie Search Results</h1>
			<form id="newSearchInput" action="/results" method="GET">
				<div>	
					<input class="form-control" type="text" name="search" placeholder="Enter Movie Title Here" >
				</div>
				<div class="form-group">
					<input class="btn btn-primary btn-large btn-block" type= "submit">
				</div>
			</form>
		</div>	
	</header>


	


	<div id="resultsRow" class="row text-center">
			<% data["Search"].forEach(function(movie) { %>
				<div class="col-md-4 col-sm-6">
					<div class="thumbnail">
						<img class ="moviePoster" src="<%=movie.Poster%>" alt="">
						<div class="caption">
							<strong>
								<%= movie.Title%>
							</strong> 
							- (<%=movie.Year %> )
						</div>
						<div>
							<form action="/results/<%=movie.imdbID%>" method="GET">
								<input type="submit" value="<%=movie.imdbID%>" name="showSearch" class="btn btn-success">
							</form>
						</div>
					</div>
				</div>
			<%});%>
	</div>

	<a href="/">Search Again</a>
</div>


<% include partials/footer%>